
body{
  margin: 0%;  
  background-color: beige;
  font-family: monospace;
}

.App {
  text-align: center;
  max-width: 1500px;
}

.Appbody{
  text-align: center;
}

.signcomp{
  border: 1.5px solid black;
  margin: 20px auto;
  width: 600px;
  padding-top: 10px;
  box-shadow: 1px 2px  2px 1px rgb(36, 46, 51);
}

.verifycomp{
  border: 1.5px solid black;
  margin: 15px auto;
  width: 600px;
  padding-top: 10px;
  box-shadow: 1px 2px  2px 1px rgb(36, 46, 51);
}

.compheader{
  font-size: x-large;
  font-weight: bold;
}

.compheaderdiv{
  border-bottom: 1.5px solid black;
  padding-bottom: 10px;
}

.error{
  border-top:  1.5px solid black;
  background-color: rgb(236, 37, 63);
  color: white;
  padding-bottom: 7px;
}
.error h3{
  margin: 5px auto;
}

.failresult{
  border-top:  1.5px solid black;
  background-color: rgb(205, 129, 129);
  color: white;
  padding-bottom: 5px;
}
.sucresult{
  border-top:  1.5px solid black;
  background-color: rgb(60, 159, 107);
  color: white;
  padding-bottom: 5px;
}

form{
  margin: 15px auto;
}
textarea{
  margin: 5px auto;
}

button{
  display: block;
  padding: 5px 15px;
  margin: 5px auto 10px auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  box-shadow: 1px 2px  2px 1px rgb(19, 165, 244);
  font-weight: bold;
}

.prevsigns{
  height: 200px;
  padding: 10px;
  padding-left: 15px;
  font-family: monospace;
  font-weight: normal;
  overflow: scroll;
  border: 1px solid rgb(20, 20, 41);
  margin: 15px 15px;
}

/* .prevsigns::-webkit-scrollbar {
  display: none;
} */

.prevsigns::-webkit-scrollbar {
  width: 0.3em;
}
 
.prevsigns::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(160, 46, 46, 0.3);
}
 
.prevsigns::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.eachsign{
  text-align: left;
  margin: 10px ;
  border: 1px double rgb(24, 34, 44);
  border-radius: 15px;
  padding-left: 10px;
  margin-bottom: 15px;
}

.eachsign textarea{
  vertical-align: text-top;
}

.eachsign h2{
  margin: 7.5px auto;
}
.address{
  font-size: 1rem;
  font-weight: initial;
}

.prevsigheader{
  margin: 2px auto;
  font-weight: bold;
  font-size: large;
}

footer{
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-top: 2px solid black;
  font-weight: normal;
  font-size: 0.61rem;
}

footer a{
  font-size: larger;
  text-decoration: none;
}

.icon{
  vertical-align: middle;
font-size: 2rem;
}

.Nav{
  border-bottom: 2px solid black;
  font-size: 0.991rem;

}

.metamask{
  color: rgb(255, 139, 30);
  vertical-align: middle;
}
